<%- include('_header') %>

  <%
  const dateTimeFormatOptions = {
    year: 'numeric',
    month: 'long',
    day: '2-digit',
    hour: 'numeric',
    minute: 'numeric',
    timeZone: 'Europe/Athens',
  };
  %>

  <div class="nav-header">
    <h1><%= title != null ? title.split('-').join(' ') : '' %></h1>
    <a href="/">Home</a>
  </div>

  <% builds.forEach(function(build, index) { %>
    <div class="row">
      <div class="column">
        <span class="row-title">Build <%= build.buildNumber %></span>
        <span class="row-subtitle">
            <%= new Intl.DateTimeFormat('en-GB', dateTimeFormatOptions).format(new Date(build.finishTime)) %>
              <br />
              <!-- <%= build.sourceBranch %> | <%= build.sourceVersion %> -->
        </span>
      </div>
      <% if (build != null) { %>
        <a href="/<%= params.owner_type %>/<%= params.owner %>/apps/<%= params.app %>/build/branches/master/builds/<%= build.id %>" class="button">
          Get build
        </a>
        <% if (build.tags.includes('android-app-bundle')) { %>
          <a href="/<%= params.owner_type %>/<%= params.owner %>/apps/<%= params.app %>/build/branches/master/builds/<%= build.id %>?type=bundle" class="button">
            Get bundle
          </a>
        <% } %>
      <% } %>
    </div>
  <% }) %>

  <% if (builds.length === 0) { %>
    <p>There are no builds available</p>
  <% } %>

<%- include('_footer') %>
