<%- include('_header') %>

  <%
  const dateTimeFormatOptions = {
    year: 'numeric',
    month: 'long',
    day: '2-digit',
    hour: 'numeric',
    minute: 'numeric',
    timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone // browser's local time zone
  };
  %>

  <h1>Applications</h1>

  <% results.forEach(function(app, index) { %>
    <a class="clickable-row" href="/<%= app.owner.type %>/<%= app.owner.name %>/apps/<%= app.name %>/build/branches/master">
      <div class="row">
        <img src="<%= app.icon_url %>" />
        <div class="column">
          <span class="row-title"><%= app.display_name.split('-').join(' ') %><%= app.release_type != null && app.release_type !== '' ? ` | ${app.release_type}` : '' %></span>
          <span class="row-subtitle">
            Latest build: 
            <% if (app.latestSuccessfulBuild != null) { %>
              <%= new Intl.DateTimeFormat('en-GB', dateTimeFormatOptions).format(new Date(app.latestSuccessfulBuild.finishTime)) %>
              - Build ID: <%= app.latestSuccessfulBuild.id %>
            <% } else { %>
              -
            <% } %>
            | Platform: <%= app.os %>
          </span>
          <!-- <%= JSON.stringify(app.download_uris) %> -->
        </div>
        <% if (app.latestSuccessfulBuild != null) { %>
          <a href="/<%= app.owner.type %>/<%= app.owner.name %>/apps/<%= app.name %>/build/branches/master/builds/<%= app.latestSuccessfulBuild.id %>" class="button">
            Get build
          </a>
          <% if (app.os === 'Android') { %>
            <a href="/<%= app.owner.type %>/<%= app.owner.name %>/apps/<%= app.name %>/build/branches/master/builds/<%= app.latestSuccessfulBuild.id %>?type=bundle" class="button">
              Get bundle
            </a>
          <% } %>
        <% } %>
      </div>
    </a>
  <% }) %>
            
<%- include('_footer') %>